h1 {color: #ff000d;
    text-align: center;
font-family: "Arial Black";  }
h1 {margin: 0 auto; }
h1 { padding-top: 500px; padding-bottom: 0px; font-size: 20px; }
h1.bottom { padding-top: 10px; font-size: 10px; line-height: 12px; }

img {
    width: 340px; height:200px;
    margin-left: -170px; margin-top: -100px;
    position: absolute;
    left: 50%; top: 50%
}